body{
background:#080000;
color:#ff3b3b;
font-family:Arial;
margin:0;
}

/* MENU */
.menu{
display:flex;
gap:10px;
padding:10px;
background:#120000;
border-bottom:2px solid red;
}

.menu h1{
margin-right:auto;
color:red;
text-shadow:0 0 10px red;
}

/* BOTÕES */
button{
background:#1a0000;
border:1px solid red;
color:white;
padding:6px 10px;
cursor:pointer;
}

button:hover{
background:red;
}

/* PÁGINAS */
.pagina{display:none;}
.ativa{display:block;}

/* TABELAS */
table{
width:80%;
margin:10px auto;
border-collapse:collapse;
}

th,td{
border:1px solid red;
padding:8px;
text-align:center;
}

th{
background:#200000;
}

/* FICHA */
#previewFicha img{
width:100px;
border:2px solid red;
}
