input{
display:block;
margin:5px auto;
padding:8px;
background:#1a0000;
border:1px solid red;
color:white;
}

#logRolagens{
background:#100000;
height:150px;
overflow:auto;
padding:10px;
border:1px solid red;
}
