.circulo {
  width:200px;
  margin:auto;
  stroke:red;
  fill:none;
}

.base{
stroke:red;
stroke-width:2;
}

.barra{
width:200px;
height:15px;
background:#111;
border:1px solid red;
margin:5px auto;
}

.barra div{
height:100%;
width:50%;
background:red;
transition:width 0.5s ease;
}

.pericias{
position:absolute;
left:220px;
top:0;
height:100%;
overflow:auto;
width:250px;
border-left:1px solid #333;
}

#statusBox{
position:fixed;
bottom:10px;
right:10px;
border:1px solid red;
padding:10px;
background:#111;
}
